footer-section
  h4 Links
  if footerLinks
    ul.unstyled
      each page in footerLinks.pages
        li
          a(href=routes.page.bySlug({ slug: page.slug }))= page.title



if footerMetaInformation
  - const { fields } = footerMetaInformation
  footer-section
    h4 Kontakt
    dl.list-style
      if fields.phoneNumber
        dt Telefon:
        dd= fields.phoneNumber.de

      if fields.mobilePhone
        dt Mobil:
        dd= fields.mobilePhone.de

      if fields.eMailAddress
      dt E-Mail:
      dd
        a(href=`mailto://${fields.eMailAddress.de}`)= fields.eMailAddress.de
