footer-section
  if footerMetaInformation
    - const { fields } = footerMetaInformation
    address.contact-address
      h4 Kontakt
      strong Happy Yoga
      p.street Rüttenscheider Platz 10, im Hinterhof
      p.city 45130 Essen
      if fields.phoneNumber
        p
          | Telefon:
          = " "
          = fields.phoneNumber.de
      if fields.mobilePhone
        p
          | Mobil:
          = ""
          = fields.mobilePhone.de

      if fields.eMailAddress
        p
          | E-Mail:
          = " "
          a(href=`mailto://${fields.eMailAddress.de}`)= fields.eMailAddress.de

section.footer-links
  h4 Links
  if footerLinks
    ul.unstyled
      each page in footerLinks.pages
        li
          a(href=routes.page.bySlug({ slug: page.slug }))= page.title
