doctype html
html(lang="de")
  head
    include header
  body.landing-page
    nav
      include ./top-page-menu

    block heroTeaser

    scroll-foam
      main
        content-container
          block content

      footer
        include ./footer-section
