doctype html
html(lang="de")
  include ../components/social-links
  head
    include header
  body.landing-page
    nav
      include ./top-page-menu

    block heroTeaser

    scroll-foam
      main
        content-container
          +socialLinks
          block content

      .location-map-container
        location-map

      footer
        include ./footer-section
