doctype html
html(lang="en")
  head
    include header

  body
    nav
      top-page-menu
        button(is="nav-button" type="button")
        top-menu-logo-wrapper
          img#top-menu-logo(src=assetUrl('happy-yoga.svg') alt="HappyYoga")

        ul.unstyled
          if mainMenu
            each page in mainMenu.pages
              li
                a.link(href=routes.page.bySlug({ slug: page.slug }))= page.title
          li
            a(href="/").button Anmeldung

    scroll-foam
      main
        content-container
          block content

      footer
        include ./footer-section
    script.
      if([
        'iPad Simulator',
        'iPhone Simulator',
        'iPod Simulator',
        'iPad',
        'iPhone',
        'iPod'
      ].includes(navigator.platform)) {
        document?.body.classList.add('ios')
      }
