doctype html
html(lang="en")
  include ../components/social-links
  head
    include header

  body.sub-page
    nav
      include ./top-page-menu

    scroll-foam
      main
        content-container
          +socialLinks
          h1= page.title
          block content

      footer
        include ./footer-section
    script.
      if([
        'iPad Simulator',
        'iPhone Simulator',
        'iPod Simulator',
        'iPad',
        'iPhone',
        'iPod'
      ].includes(navigator.platform)) {
        document?.body.classList.add('ios')
      }
