top-page-menu
  button(is="nav-button" type="button")
  top-menu-logo-wrapper
    a(href="/pages/landing-page")
      img#top-menu-logo(src=assetUrl('happy-yoga.svg') alt="HappyYoga")

  ul.unstyled
    if mainMenu
      each page in mainMenu.pages
        li
          a.link(href=routes.page.bySlug({ slug: page.slug }))= page.title
    li
      a(href="https://clients.mindbodyonline.com/classic/ws?studioid=17880").button.external-link
        span.icon
        | Online reservieren
