extends layouts/sub-page

block content
  h1 Was suchst du?

  p Die Seite die du suchst, kennen wir leider nicht. Vielleicht startest du noch einmal von
    = " "
    a(href="/") vorne
    | ?

  figure
    img(src=assetUrl('wondering-puppy-4xx.jpg')).embedded-image

    figcaption
      | Photo by
      = " "
      a(href="https://unsplash.com/@mancity17") David Clarke
      = " "
      | on
      = " "
      a(href="https://unsplash.com/s/photos/puppy-dog") Unsplash
