extends layouts/sub-page

block content
  h1 Bei uns läuft irgend etwas schief!

  p Irgend etwas ist schief gelaufen. Du kannst vermutlich nichts dafür. Bitte entschuldige!

  p Versuche es vielleicht später noch einmal oder starte noch einmal von
    = " "
    a(href="/") vorne
    | ?
