extends layouts/sub-page

block content
  h1 Bei uns läuft irgend etwas schief!

  p Irgend etwas ist schief gelaufen. Du kannst vermutlich nichts dafür. Bitte entschuldige!

  p Versuche es vielleicht später noch einmal oder starte noch einmal von
    = " "
    a(href="/") vorne
    | ?

  figure
    img(src=assetUrl('sad-puppy-5xx.jpg')).embedded-image

    figcaption
      | Photo by
      = " "
      a(href="https://unsplash.com/@charlesdeluvio") charlesdeluvio
      = " "
      | on
      = " "
      a(href="https://unsplash.com/s/photos/sad-puppy") Unsplash
