extends layouts/sub-page

block content
  include components/index

  if page.contentElements
    each contentElement in page.contentElements
      if contentElement && contentElement.contentTypeId
        - const smallElements = ['standaloneActionButton']
        - const condensed = smallElements.includes(contentElement.contentTypeId) || contentElement.contentTypeId === 'headlineAndText' && !contentElement.text
        content-section(class=condensed ? 'condensed' : '')
          if (contentElement.anchorName)
            a(name=`anchor-${contentElement.anchorName}`)
          +#{contentElement.contentTypeId}(contentElement)


  //- pre
    = JSON.stringify(page, null, 2)
