extends layouts/main

block heroTeaser
  //- pre= JSON.stringify(page.heroTeaser, null, 2)
  if page.heroTeaser
    hero-teaser.with-center-stage-image(style=`--bg-image: url(${page.heroTeaser.backgroundImageUrl})`)
      wandering-teaser-image(img="#hy-hero-logo")
        img#hy-hero-logo(src=page.heroTeaser.centerImageUrl alt="HappyYoga")


block content
  include components/index

  if page.contentElements
    each contentElement in page.contentElements
      if contentElement.contentTypeId
        +#{contentElement.contentTypeId}(contentElement)


  //- pre
    = JSON.stringify(page, null, 2)
