mixin standaloneActionButton(entry)
  standalone-action-button
    a.button(href=entry.link.url class=`${entry.link.external ? 'external-link' : ''}`)
      if entry.link.external
          span.icon
      = entry.link.linkLabel
