mixin teaserList(entry)
  h2= entry.title
  teaser-list
    if entry.teasers
      each teaser in entry.teasers
        if teaser && teaser.contentTypeId
          teaser-list-entry
            +#{teaser.contentTypeId}(teaser)

