mixin teaserList(entry)
  h2= entry.title
  teaser-list
    if entry.teasers
      each teaser in entry.teasers
        teaser-list-entry
          if teaser.contentTypeId
            +#{teaser.contentTypeId}(teaser)

